@model UserResumeModel

@{
    ViewData["Title"] = "Resume";
}

@section StyleTag {
    <style>
        .table > :not(caption) > * > * {
            background-color: transparent !important;
        }
    </style>
}

@section SidebarWidgets {
    <partial name="Widgets/_NewsWidget" />
}

<div class="row">
    <div class="col">
        <div class="card h-100">
            <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
                <h1 class="h4 card-title">Discover Campaigns</h1>
                <a class="btn btn-primary-soft" role="button" data-bs-toggle="modal" data-bs-target="#saveResumeModal"> 
                    <i class="bi bi-pencil-square pe-1"></i> @(Model.Resume == null ? "Add" : "Edit") Resume
                </a>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs nav-bottom-line justify-content-center justify-content-md-start">
                    <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#tab-1"> My Resume </a> </li>
                    <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-2"> Reviews </a> </li>
                </ul>
                <div class="tab-content mb-0 pb-0">
                    @if (Model.Resume == null)
                    {
                    <div class="tab-pane fade show active text-center" id="tab-1">
                        <div class="my-sm-5 py-sm-5">
                            <i class="display-1 text-muted bi bi-file-earmark-x"> </i>
                            <h4 class="mt-2 mb-3 text-body">No resume available.</h4>
                            <button class="btn btn-primary-soft btn-sm" data-bs-toggle="modal" data-bs-target="#saveResumeModal"> Click here to add </button>
                        </div>
                    </div>
                    }
                    else
                    {
                    <div class="tab-pane fade show active" id="tab-1">
                        <h2>Background</h2>
                        <p>@Model.Resume.Background</p>

                        <h2>Experience</h2>
                        <p>@Model.Resume.Experience</p>

                        <h2>Skills</h2>
                        <p>@Model.Resume.Skills</p>

                        <h2>Education</h2>
                        <p>@Model.Resume.Education</p>
                    </div>
                    }
                    <div class="tab-pane fade" id="tab-2">
                        ...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("SaveResume", new { userId = Model.Creator!.Id })

@section JavaScripts {}

@section ScriptTag {}