@model MemberTeams

@{
    ViewData["Title"] = "Teams";
}

@section StyleTag {
    <style>
        .table > :not(caption) > * > * {
            background-color: transparent !important;
        }
    </style>
}

@section SidebarWidgets {
    <partial name="Widgets/_NewsWidget" />
}

<div class="row">
    <div class="col">
        <div class="card h-100">
            <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
                <h1 class="h4 fw-light text-uppercase">Teams</h1>
                <a class="btn btn-primary-soft" role="button" href="#"> 
                    <i class="bi bi-compass pe-1"></i> All Campaigns
                </a>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs nav-bottom-line justify-content-center justify-content-md-start">
                    <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#tab-1"> Teams </a> </li>
                    <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-2"> Request </a> </li>
                </ul>
                <div class="tab-content mb-0 pb-0">
                    <div class="tab-pane fade show active" id="tab-1">
                        <div class="row mb-5">
                            <div>
                                <div class="table-responsive mx-n1 px-1">
                                    <table class="table table-sm border-top border-200 fs--1 mb-0">
                                        <thead>
                                            <tr>
                                                <th class="sort align-middle text-uppercase ps-3">Team</th>
                                                <th class="sort align-middle text-uppercase ps-3">Position</th>
                                                <th class="sort text-end align-middle text-uppercase pe-0" scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list">
                                            @foreach(var item in Model.Teams)
                                            {
                                                <tr>
                                                    <td class="align-middle ps-3">
                                                        @item.Team!.Campaign!.Name
                                                    </td>
                                                    <td class="align-middle ps-3">
                                                        @item.Position
                                                    </td>
                                                    <td class="align-middle white-space-nowrap text-end pe-0">
                                                        <a role="button" class="btn rounded-3 ms-auto btn-primary-soft btn-sm"
                                                            asp-controller="Campaigns" asp-action="Commmunity" asp-route-id="@item.Team.Campaign.Slug">
                                                            <i class="bi bi-eye-fill"></i>
                                                        </a>
                                                        <button type="button" class="btn rounded-3 ms-auto btn-danger-soft btn-sm">
                                                            <i class="bi bi-x-lg"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-2">
                        <div class="row mb-5">
                            <div>
                                <div class="table-responsive mx-n1 px-1">
                                    <table class="table table-sm border-top border-200 fs--1 mb-0">
                                        <thead>
                                            <tr>
                                                <th class="sort align-middle text-uppercase ps-3">Team</th>
                                                <th class="sort align-middle text-uppercase ps-3">Position</th>
                                                <th class="sort align-middle text-uppercase ps-3">Status</th>
                                                <th class="sort text-end align-middle text-uppercase pe-0" scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list">
                                            @foreach(var item in Model.Requests)
                                            {
                                                <tr>
                                                    <td class="align-middle ps-3">
                                                        @item.Team!.Campaign!.Name
                                                    </td>
                                                    <td class="align-middle ps-3">
                                                        @item.Position
                                                    </td>
                                                    <td class="align-middle ps-3">
                                                        @item.Status.GetEnumDescription()
                                                    </td>
                                                    <td class="align-middle white-space-nowrap text-end pe-0">
                                                        <a role="button" class="btn rounded-3 ms-auto btn-primary-soft btn-sm"
                                                            asp-controller="Campaigns" asp-action="Public" asp-route-slug="@item.Team.Campaign.Slug">
                                                            <i class="bi bi-eye-fill"></i>
                                                        </a>
                                                        <button type="button" class="btn rounded-3 ms-auto btn-danger-soft btn-sm">
                                                            <i class="bi bi-x-lg"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section JavaScripts {}

@section ScriptTag {}