<div class="col-sm-auto bg-white sticky-top border-end">
    <div class="d-flex flex-sm-column flex-row flex-nowrap bg-white align-items-center sticky-top">
        <div class="pb-3">
            <a asp-controller="Home" asp-action="Index" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Brand">
                <i class="bi-house-heart fs-2"></i>
            </a>
        </div>
        
        <div class="nav-spacer flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center"></div>

        @if (User.Identity!.IsAuthenticated)
        {
            @if (User.IsInRole("Member"))
            {
                <div class="btn-group dropend pb-3">
                    <a href="#" class="d-flex align-items-center justify-content-center py-3 px-2 nav-link text-decoration-none dropdown-toggle" id="dropdown0" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle fs-3"></i>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown0">
                        <li class="text-uppercase">
                            <a class="dropdown-item" asp-controller="Profile" asp-action="Basic" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                                @User.FindFirst("FullName")!.Value
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="Profile" asp-action="Resume" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Resume</a></li>
                        <li><a class="dropdown-item" asp-controller="Profile" asp-action="Recommendations" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Recommendations</a></li>
                        <li><a class="dropdown-item" href="#">Messages (7)</a></li>
                        <li><a class="dropdown-item" href="#">Notifications (2)</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-area="Identity" asp-controller="Account" asp-action="Logout">Sign out</a></li>
                    </ul>
                </div>
                <div class="btn-group dropend pb-3">
                    <a href="#" class="d-flex align-items-center justify-content-center py-3 px-2 nav-link text-decoration-none dropdown-toggle" id="dropdown6" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-heart fs-3"></i>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown6">
                        <li class="text-uppercase"><a class="dropdown-item" href="#">Campaigns</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Discover</a></li>
                        <li><a class="dropdown-item" asp-controller="Members" asp-action="Campaigns" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">My Campaigns</a></li>
                        <li><a class="dropdown-item" href="#">Teams</a></li>
                        <li><a class="dropdown-item" href="#">Communities</a></li>
                    </ul>
                </div>
                <div class="btn-group dropend pb-3">
                    <a href="#" class="d-flex align-items-center justify-content-center py-3 px-2 nav-link text-decoration-none dropdown-toggle" id="dropdown4" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-arrow-through-heart fs-3"></i>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown4">
                        <li class="text-uppercase"><a class="dropdown-item" href="#">Relationships</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Discover</a></li>
                        <li><a class="dropdown-item" href="#">My Contacts</a></li>
                        <li><a class="dropdown-item" href="#">Followers</a></li>
                        <li><a class="dropdown-item" href="#">Following</a></li>
                    </ul>
                </div>
                <div class="btn-group dropend pb-3">
                    <a href="#" class="d-flex align-items-center justify-content-center py-3 px-2 nav-link text-decoration-none dropdown-toggle" id="dropdown3" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-calendar-heart fs-3"></i>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown3">
                        <li class="text-uppercase"><a class="dropdown-item" href="#">Events</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Discover</a></li>
                        <li><a class="dropdown-item" href="#">My Events</a></li>
                        <li><a class="dropdown-item" href="#">Invitations</a></li>
                    </ul>
                </div>
            }
        }
        else
        {
            <div class="btn-group dropend pb-3">
                <a href="#" class="d-flex align-items-center justify-content-center py-3 px-2 nav-link text-decoration-none dropdown-toggle" id="dropdown1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle fs-3"></i>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown1">
                    <li><a class="dropdown-item" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a></li>
                    <li><a class="dropdown-item" href="#">Sign up</a></li>
                </ul>
            </div>
        }
        <div class="btn-group dropend pb-3">
            <a href="#" class="d-flex align-items-center justify-content-center py-3 px-2 nav-link text-decoration-none dropdown-toggle" id="dropdown2" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-life-preserver fs-3"></i>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown2">
                <li class="text-uppercase"><a class="dropdown-item" href="#">Help</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Documentation</a></li>
                <li><a class="dropdown-item" href="#">FAQ</a></li>
                <li><a class="dropdown-item" href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>