@{
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<div class="col-sm-auto bg-white sticky-top border-end">
    <div class="d-flex flex-sm-column flex-row flex-nowrap bg-white align-items-center sticky-top">
        <div class="pb-3">
            <a asp-controller="Home" asp-action="Index" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Brand">
                <i class="bi-house-heart fs-2"></i>
            </a>
        </div>
        
        <div class="nav-spacer flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center"></div>

        @if (User.Identity!.IsAuthenticated)
        {
            @if (User.IsInRole("Member"))
            {
                <div class="btn-group dropend pb-3">
                    <a href="#" class="d-flex align-items-center justify-content-center py-3 px-2 nav-link text-decoration-none dropdown-toggle" id="dropdown0" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-heart fs-3"></i>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown0">
                        <li class="text-uppercase"><a class="dropdown-item" href="#">Campaigns</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Discover</a></li>
                        <li><a class="dropdown-item" asp-controller="Members" asp-action="Campaigns" asp-route-id="@currentUserId">My Campaigns</a></li>
                        <li><a class="dropdown-item" asp-controller="Members" asp-action="Teams" asp-route-id="@currentUserId">Teams</a></li>
                    </ul>
                </div>
                <div class="btn-group dropend pb-3">
                    <a href="#" class="d-flex align-items-center justify-content-center py-3 px-2 nav-link text-decoration-none dropdown-toggle" id="dropdown5" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-chat-square-heart fs-3"></i>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown5">
                        <li class="text-uppercase"><a class="dropdown-item" href="#">Conversations</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="Members" asp-action="Posts" asp-route-id="@currentUserId">My Posts</a></li>
                        <li><a class="dropdown-item" href="#">Communities</a></li>
                    </ul>
                </div>
                <div class="btn-group dropend pb-3">
                    <a href="#" class="d-flex align-items-center justify-content-center py-3 px-2 nav-link text-decoration-none dropdown-toggle" id="dropdown4" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-arrow-through-heart fs-3"></i>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown4">
                        <li class="text-uppercase"><a class="dropdown-item" href="#">Relationships</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="Relationships" asp-action="Index" asp-route-id="@currentUserId">Recommendations</a></li>
                        <li><a class="dropdown-item" asp-controller="Relationships" asp-action="Requests" asp-route-id="@currentUserId">Requests</a></li>
                        <li><a class="dropdown-item" asp-controller="Relationships" asp-action="Social" asp-route-id="@currentUserId">Social</a></li>
                        <li><a class="dropdown-item" asp-controller="Relationships" asp-action="Professional" asp-route-id="@currentUserId">Professional</a></li>
                        <li><a class="dropdown-item" asp-controller="Relationships" asp-action="Followers" asp-route-id="@currentUserId">Followers</a></li>
                        <li><a class="dropdown-item" asp-controller="Relationships" asp-action="Following" asp-route-id="@currentUserId">Following</a></li>
                    </ul>
                </div>
                <div class="btn-group dropend pb-3">
                    <a href="#" class="d-flex align-items-center justify-content-center py-3 px-2 nav-link text-decoration-none dropdown-toggle" id="dropdown3" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-calendar-heart fs-3"></i>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown3">
                        <li class="text-uppercase"><a class="dropdown-item" href="#">Events</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Discover</a></li>
                        <li><a class="dropdown-item" href="#">My Events</a></li>
                        <li><a class="dropdown-item" asp-controller="Members" asp-action="Invites" asp-route-id="@currentUserId">Invitations</a></li>
                    </ul>
                </div>
            }
        }
        else
        {
            <div class="btn-group dropend pb-3">
                <a href="#" class="d-flex align-items-center justify-content-center py-3 px-2 nav-link text-decoration-none dropdown-toggle" id="dropdown1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle fs-3"></i>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown1">
                    <li><a class="dropdown-item" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a></li>
                    <li><a class="dropdown-item" href="#">Sign up</a></li>
                </ul>
            </div>
        }
        <div class="btn-group dropend pb-3">
            <a href="#" class="d-flex align-items-center justify-content-center py-3 px-2 nav-link text-decoration-none dropdown-toggle" id="dropdown2" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-life-preserver fs-3"></i>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown2">
                <li class="text-uppercase"><a class="dropdown-item" href="#">Help</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Documentation</a></li>
                <li><a class="dropdown-item" href="#">FAQ</a></li>
                <li><a class="dropdown-item" href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>