@model PaginatedList<MatchProfile>

@{
    List<SkinComplexion> complexions = ViewBag.SkinComplexions;
}

<div class="modal fade" id="datingSearchModal" tabindex="-1" aria-labelledby="datingSearchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="datingSearchModalLabel">Search</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" asp-controller="Dating" asp-action="Index" method="GET" id="search-form">
                    <div class="col-12 mb-3">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    </div>
                    <div class="mb-3 col-12">
                        <div>
                            <label for="sortOrder">Sort</label>
                            <select class="form-select" name="sortOrder" id="">
                                <option value="@ViewData["NameSortParm"]">Name</option>
                                <option value="@ViewData["DateSortParm"]">Date</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 col-12">
                        <div>
                            <label for="hairColor">Hair color</label>
                            <select class="form-select" name="hairColor" id="">
                                <option selected></option>
                                <option value="@((int)HairColor.Black)">@HairColor.Black</option>
                                <option value="@((int)HairColor.Brown)">@HairColor.Brown</option>
                                <option value="@((int)HairColor.Auburn)">@HairColor.Auburn</option>
                                <option value="@((int)HairColor.Red)">@HairColor.Red</option>
                                <option value="@((int)HairColor.Blond)">@HairColor.Blond</option>
                                <option value="@((int)HairColor.Gray)">@HairColor.Gray</option>
                                <option value="@((int)HairColor.White)">@HairColor.White</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 col-12">
                        <div>
                            <label for="eyeColor">Eye color</lebel>
                            <select class="form-select" name="eyeColor" id="">
                                <option selected></option>
                                <option value="@((int)EyeColor.Brown)">@EyeColor.Brown</option>
                                <option value="@((int)EyeColor.Amber)">@EyeColor.Amber</option>
                                <option value="@((int)EyeColor.Hazel)">@EyeColor.Hazel</option>
                                <option value="@((int)EyeColor.Green)">@EyeColor.Green</option>
                                <option value="@((int)EyeColor.Blue)">@EyeColor.Blue</option>
                                <option value="@((int)EyeColor.Gray)">@EyeColor.Gray</option>
                                <option value="@((int)EyeColor.Mixed)">@EyeColor.Mixed</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 col-12">
                        <div>
                            <label for="bodyType">Body type</label>
                            <select class="form-select" name="bodyType" id="">
                                <option selected></option>
                                <option value="@((int)BodyType.Lean)">@BodyType.Lean</option>
                                <option value="@((int)BodyType.Muscular)">@BodyType.Muscular</option>
                                <option value="@((int)BodyType.Lean)">@BodyType.Curvy</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-12 mb-3">
                        <div>
                            <p class="bold">Filter by complexion.</p>
                            @foreach (var complexion in complexions)
                            {
                                <div class="form-check form-check-inline">
                                    <input 
                                        class="form-check-input" 
                                        type="checkbox" 
                                        value="@complexion.Id"
                                        id="complexion-@complexion.Id"
                                        name="complexions"  />
                                    <label class="form-check-label" for="complexion-@complexion.Id">
                                        <div class="border rounded-circle" style="height: 20px; width: 20px; background-color: @(Html.Raw(complexion.HexCode))"></div>
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="bold">Yeah or nah</p>
                        <div class="mb-3 form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="true" name="hasChildren" />
                            <label class="form-check-label" for="hasChildren">Children?</label>
                        </div>
                        <div class="mb-3 form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="true" name="isSmoker" />
                            <label class="form-check-label" for="isSmoker">Smokers?</label>
                        </div>
                        <div class="mb-3 form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="true" name="isDrinker" />
                            <label class="form-check-label" for="isDrinker">Drinkers?</label>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <div class="mb-3">
                            <p class="bold">Filter by attractions.</p>
                            <div class="mb-3 form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="@Sexuality.HeteroFemale" value="@((int)Sexuality.HeteroFemale)" name="attractions" />
                                <label class="form-check-label" for="@Sexuality.HeteroFemale">@Sexuality.HeteroFemale.GetEnumDescription()</label>
                            </div>
                            <div class="mb-3 form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="@Sexuality.HeteroMale" value="@((int)Sexuality.HeteroMale)" name="attractions" />
                                <label class="form-check-label" for="@Sexuality.HeteroMale">@Sexuality.HeteroMale.GetEnumDescription()</label>
                            </div>
                            <div class="mb-3 form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="@Sexuality.TransFemale" value="@((int)Sexuality.TransFemale)" name="attractions" />
                                <label class="form-check-label" for="@Sexuality.TransFemale">@Sexuality.TransFemale.GetEnumDescription()</label>
                            </div>
                            <div class="mb-3 form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="@Sexuality.TransMale" value="@((int)Sexuality.TransMale)" name="attractions" />
                                <label class="form-check-label" for="@Sexuality.TransMale">@Sexuality.TransMale.GetEnumDescription()</label>
                            </div>
                            <div class="mb-3 form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="@Sexuality.BiFemale" value="@((int)Sexuality.BiFemale)" name="attractions" />
                                <label class="form-check-label" for="@Sexuality.BiFemale">@Sexuality.BiFemale.GetEnumDescription()</label>
                            </div>
                            <div class="mb-3 form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="@Sexuality.BiMale" value="@((int)Sexuality.BiMale)" name="attractions" />
                                <label class="form-check-label" for="@Sexuality.BiMale">@Sexuality.BiMale.GetEnumDescription()</label>
                            </div>
                            <div class="mb-3 form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="@Sexuality.HomoFemale" value="@((int)Sexuality.HomoFemale)" name="attractions" />
                                <label class="form-check-label" for="@Sexuality.HomoFemale">@Sexuality.HomoFemale.GetEnumDescription()</label>
                            </div>
                            <div class="mb-3 form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="@Sexuality.HomoMale" value="@((int)Sexuality.HomoMale)" name="attractions" />
                                <label class="form-check-label" for="@Sexuality.HomoMale">@Sexuality.HomoMale.GetEnumDescription()</label>
                            </div>
                            <div class="mb-3 form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="@Sexuality.NonBinary" value="@((int)Sexuality.NonBinary)" name="attractions" />
                                <label class="form-check-label" for="@Sexuality.NonBinary">@Sexuality.NonBinary.GetEnumDescription()</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="search-form" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>