@model CampaignDetailsModel

@{
    ViewData["Title"] = "Campaign";
}

@section StyleTag{
    <style>
        .timeline-vertical .timeline-item:not(:last-child) .timeline-item-bar .timeline-bar {
            position: absolute;
            height: 100px;
            left: 11px;
            top: 24px;
        }
        .timeline-vertical.timeline-with-details .timeline-item:not(:last-child) .timeline-item-bar .timeline-bar {
            height: calc(100% - 1rem) !important;
        }
        .timeline-basic .timeline-item:hover .timeline-item-bar .icon-item {
            background: var(--phoenix-gray-100) !important;
            border-color: var(--phoenix-gray-300) !important;
        }
        .timeline-basic .timeline-item:hover .timeline-item-title {
            color: var(--phoenix-gray-1100) !important;
        }
        .timeline-basic .timeline-item:hover .timeline-time {
            color: var(--phoenix-gray-1100) !important;
        }
        .timeline-basic .timeline-item:not(:last-child) .timeline-item-bar {
            height: 100%;
        }
        .timeline-basic .timeline-item:not(:last-child) .timeline-item-bar .timeline-bar {
            position: absolute;
            height: calc(100% - 2.5rem);
            left: 20px;
            top: 40px;
        }
        .timeline li {
            position: relative;
            padding-left: 1.5rem;
        }
        .timeline li:after {
            position: absolute;
            content: "";
            height: 0.625rem;
            width: 0.625rem;
            border-radius: 50%;
            background: var(--phoenix-gray-200);
            left: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .timeline li:not(:last-child):before {
            position: absolute;
            content: "";
            height: 100%;
            width: 1px;
            background-color: var(--phoenix-gray-200);
            top: 50%;
            left: 0.3125rem;
        }
        .icon-item.icon-item-md {
            height: 2.5rem;
            width: 2.5rem;
        }
        .icon-item {
            border: none !important;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            
        }
    </style>
}

@section SidebarWidgets {
    <partial name="Widgets/_NewsWidget" />
}

<div class="row">
    <div class="col">
        <div class="card h-100">
            <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
                <h1 class="h4 card-title">Discover Campaigns</h1>
                
                <a class="btn btn-primary-soft" href="#">
                    <i class="bi bi-compass pe-1"></i> Campaigns
                </a>
                
            </div>
            <div class="card-body">
                <div class="row g-2 mb-4">
                    <div class="col-sm-4">
                        <div class="d-flex border rounded-3">
                            <div class="p-3">
                                <i class="bi bi-heart fs-2"></i>
                                <div class="">
                                    <h5 class="mb-0">@Model.Campaign!.Cause!.Name</h5>
                                    <p class="mb-0">Cause</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="d-flex border rounded-3">
                            <div class="p-3">
                                <i class="bi bi-calendar-check fs-2"></i>
                                <div class="">
                                    <h5 class="mb-0">04/01/2024</h5>
                                    <p class="mb-0">Deadline</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="d-flex border rounded-3">
                            <div class="p-3">
                                <i class="bi bi-arrow-through-heart fs-2"></i>
                                <div class="">
                                    <h5 class="mb-0">$@Model.Campaign!.FundraisingGoal.ToString("0.00")</h5>
                                    <p class="mb-0">Fundraising Goal</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="border rounded-3 mb-3">
                            <div class="p-3">
                                <div class="d-flex align-items-center mb-3">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-story avatar-xxl me-2">
                                        <a href="#!"> <img class="avatar-img rounded-circle" src="~/media/members/@(Model.Creator!.Image)" alt=""> </a>
                                    </div>
                                    <!-- Info -->
                                    <div>
                                        <div class="nav nav-divider">
                                            <h5 class="nav-item mb-0"> <a href="#!"> @Model.Creator!.FullName </a></h5>
                                        </div>
                                        <p class="mb-0 small">Manager</p>
                                    </div>
                                </div> 
                                <p>
                                    In mollis efficitur neque ac lobortis. Fusce commodo sit amet diam non hendrerit. Nullam volutpat enim odio, ut rutrum sapien bibendum ac. Ut vulputate malesuada mi, porttitor vestibulum lorem porttitor sit amet. Donec fermentum neque quis nibh eleifend dictum. Duis ac dui magna. Aliquam erat volutpat. Nunc diam nisl, faucibus vel risus id, semper dapibus nisi. Nullam imperdiet efficitur nunc vel commodo. Proin a blandit arcu. Fusce ut nisl varius, fermentum diam condimentum, mattis ligula. Donec et imperdiet lectus, et pellentesque felis.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="accordion mb-3" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                                        Problem
                                    </button>
                                </h2>
                                <div id="collapse-1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p>@Model.Campaign!.Problem</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                        Goal
                                    </button>
                                </h2>
                                <div id="collapse-2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p>@Model.Campaign!.Goal</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                        Beneficiaries
                                    </button>
                                </h2>
                                <div id="collapse-3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p>@Model.Campaign!.Beneficiaries</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                        Importance
                                    </button>
                                </h2>
                                <div id="collapse-4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p>@Model.Campaign!.Importance</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                        Solution
                                    </button>
                                </h2>
                                <div id="collapse-5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p>@Model.Campaign!.Solution</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                                        Expenditures
                                    </button>
                                </h2>
                                <div id="collapse-6" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-12 p-2">
                                                <div class="border-bottom border-200 gx-0 flex-1 cursor-pointer pb-3">
                                                   <div class="mb-1 mb-md-0 d-flex justify-content-between align-items-center lh-1">
                                                        <input name="IsCompleted" value="true" class="form-check-input my-1 me-2" type="checkbox" />
                                                        <label for="item-1" class="form-check-label mb-1 mb-md-0 mb-xl-1 mb-xxl-0 fs-0 me-2 line-clamp-1 text-900 cursor-pointer">
                                                            <span class="fw-bold">Item 2</span>
                                                            <span class="text-700 fs--2 mb-md-0 me-2 me-md-3 me-xl-2 me-xxl-3 mt-2 mb-0 d-block">Mar 10, 2024 12:22 PM</span>
                                                        </label>
                                                        <button type="button" class="btn ms-auto btn-primary-soft btn-sm">NEEDED</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 p-2">
                                                <div class="border-bottom border-200 gx-0 flex-1 cursor-pointer pb-3">
                                                    <div class="mb-1 mb-md-0 d-flex justify-content-between align-items-center lh-1">
                                                        <input class="form-check-input my-1 me-2" type="checkbox" id="checkbox-todo-1" checked="true" disabled />
                                                        <label class="form-check-label mb-1 mb-md-0 mb-xl-1 mb-xxl-0 fs-0 me-2 line-clamp-1 text-900 cursor-pointer">
                                                            <span class="fw-bold text-decoration-line-through">Item 1</span>
                                                            <span class="text-700 fs--2 mb-md-0 me-2 me-md-3 me-xl-2 me-xxl-3 mt-2 mb-0 d-block">Mar 10, 2024 12:22 PM</span>
                                                        </label>
                                                        <button type="button" class="btn ms-auto btn-primary-soft btn-sm" disabled>AQUIRED</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h4 class="py-3 border-y border-300 mb-3 ms-8">Today</h4>
                    <div class="timeline-basic mb-9">
                        <div class="timeline-item">
                            <div class="row g-3">
                                <div class="col-auto">
                                    <div class="timeline-item-bar position-relative">
                                        <div class="icon-item icon-item-md rounded-7 border">
                                            <i class="bi bi-circle-fill text-success fs--1"></i>
                                        </div>
                                        <span class="timeline-bar border-end border-dashed border-300"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex mb-2">
                                            <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">
                                                Assigned to serve as the <br class='d-sm-none'> project's director
                                            </h6>
                                        </div>
                                        <p class="text-500 fs--1 mb-0 text-nowrap timeline-time">
                                            <span class="fbi bi-clock-fill me-1"></span>4:33pm
                                        </p>
                                    </div>
                                    <h6 class="fs--2 fw-normal mb-3">by <a class="fw-semi-bold" href="#!">John N. Ward</a></h6>
                                    <p class="fs--1 text-800 w-sm-60 mb-5">
                                        Utilizing best practices to better leverage our assets, we
                                        must engage in black sky leadership thinking, not the usual band-aid solution.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row g-3">
                                <div class="col-auto">
                                    <div class="timeline-item-bar position-relative">
                                        <div class="icon-item icon-item-md rounded-7 border">
                                            <span class="bi bi-circle-fill text-danger fs--1"></span>
                                        </div>
                                        <span class="timeline-bar border-end border-dashed border-300"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex mb-2">
                                            <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">Quary about purchased <br
                                                    class="d-sm-none"> soccer socks</h6>
                                        </div>
                                        <p class="text-500 fs--1 mb-0 text-nowrap timeline-time"><span
                                                class="bi bi-clock-fill me-1"></span>6:30pm</p>
                                    </div>
                                    <h6 class="fs--2 fw-normal mb-3">by <a class="fw-semi-bold" href="#!">Edward Hopper</a></h6>
                                    <p class="fs--1 text-800 w-sm-60 mb-5">I’ve come across your posts and found some favorable deals on
                                        your page. I’ve added a load of products to the cart and I don’t know the payment options you
                                        avail. Also, can you enlighten me about any discount.</p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row g-3">
                                <div class="col-auto">
                                    <div class="timeline-item-bar position-relative">
                                        <div class="icon-item icon-item-md rounded-7 border"><span
                                                class="bi bi-circle-fill text-info fs--1"></span></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex mb-2">
                                            <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">Onboarding Meeting</h6>
                                        </div>
                                        <p class="text-500 fs--1 mb-0 text-nowrap timeline-time"><span
                                                class="bi bi-clock-fill me-1"></span>9:33pm</p>
                                    </div>
                                    <h6 class="fs--2 fw-normal false">by <a class="fw-semi-bold" href="#!">John N. Ward</a></h6>
                                    <p class="fs--1 text-800 w-sm-60 mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="py-3 border-y border-300 mb-3 ms-8">15 October, 2022</h4>
                    <div class="timeline-basic mb-9">
                        <div class="timeline-item">
                            <div class="row g-3">
                                <div class="col-auto">
                                    <div class="timeline-item-bar position-relative">
                                        <div class="icon-item icon-item-md rounded-7 border"><span
                                                class="bi bi-circle-fill text-primary fs--1"></span></div><span
                                            class="timeline-bar border-end border-dashed border-300"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex mb-2">
                                            <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">Designing the dungeon</h6>
                                        </div>
                                        <p class="text-500 fs--1 mb-0 text-nowrap timeline-time"><span
                                                class="bi bi-clock-fill me-1"></span>1:30pm</p>
                                    </div>
                                    <h6 class="fs--2 fw-normal mb-3">by <a class="fw-semi-bold" href="#!">John N. Ward</a></h6>
                                    <p class="fs--1 text-800 w-sm-60 mb-5">To get off the runway and paradigm shift, we should take
                                        brass tacks with above-the-board actionable analytics, ramp up with viral partnering, not the
                                        usual goat rodeo putting socks on an octopus. </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row g-3">
                                <div class="col-auto">
                                    <div class="timeline-item-bar position-relative">
                                        <div class="icon-item icon-item-md rounded-7 border"><span
                                                class="fa-solid fa-skull-crossbones text-danger fs--1"></span></div><span
                                            class="timeline-bar border-end border-dashed border-300"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex mb-2">
                                            <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">How to take the headache <br
                                                    class="d-sm-none"> out of Order</h6>
                                        </div>
                                        <p class="text-500 fs--1 mb-0 text-nowrap timeline-time"><span
                                                class="fa-regular fa-clock me-1"></span>8:32pm</p>
                                    </div>
                                    <h6 class="fs--2 fw-normal mb-3">by <a class="fw-semi-bold" href="#!">Edward Hopper</a></h6>
                                    <p class="fs--1 text-800 w-sm-60 mb-5">It is a long established fact that a reader will be
                                        distracted by the readable content of a page when looking at its layout. The point of using
                                        Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row g-3">
                                <div class="col-auto">
                                    <div class="timeline-item-bar position-relative">
                                        <div class="icon-item icon-item-md rounded-7 border"><span
                                                class="fa-solid fa-stethoscope text-primary fs--1"></span></div><span
                                            class="timeline-bar border-end border-dashed border-300"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex mb-2">
                                            <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">Mandatory routine checkup</h6>
                                        </div>
                                        <p class="text-500 fs--1 mb-0 text-nowrap timeline-time"><span
                                                class="fa-regular fa-clock me-1"></span>9:30pm</p>
                                    </div>
                                    <h6 class="fs--2 fw-normal mb-3">by <a class="fw-semi-bold" href="#!">Eye before Thy Hospital</a>
                                    </h6>
                                    <p class="fs--1 text-800 w-sm-60 mb-5">To get the bitter butter out and take the better butter into
                                        the bitter dough to make a bitter bread and broad donut, not the usual yellow butter, but the
                                        white butterless butter.</p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row g-3">
                                <div class="col-auto">
                                    <div class="timeline-item-bar position-relative">
                                        <div class="icon-item icon-item-md rounded-7 border"><span
                                                class="fa-solid fa-utensils text-success fs--1"></span></div><span
                                            class="timeline-bar border-end border-dashed border-300"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex mb-2">
                                            <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">Making bad butter better</h6>
                                        </div>
                                        <p class="text-500 fs--1 mb-0 text-nowrap timeline-time"><span
                                                class="fa-regular fa-clock me-1"></span>8:30pm</p>
                                    </div>
                                    <h6 class="fs--2 fw-normal mb-3">by <a class="fw-semi-bold" href="#!">Edward Hopper</a></h6>
                                    <p class="fs--1 text-800 w-sm-60 mb-5">Check how long a fish might live out of water and if you can
                                        check the pulse to see if it's alive or not though it's okay to eat fish cause they don't have
                                        any feelings.</p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row g-3">
                                <div class="col-auto">
                                    <div class="timeline-item-bar position-relative">
                                        <div class="icon-item icon-item-md rounded-7 border"><span
                                                class="fa-solid fa-rocket text-info fs--1"></span></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex mb-2">
                                            <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">Launching Phoenix</h6>
                                        </div>
                                        <p class="text-500 fs--1 mb-0 text-nowrap timeline-time"><span
                                                class="fa-regular fa-clock me-1"></span>10:33pm</p>
                                    </div>
                                    <h6 class="fs--2 fw-normal false">by <a class="fw-semi-bold" href="#!">John N. Ward</a></h6>
                                    <p class="fs--1 text-800 w-sm-60 mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="py-3 border-y border-300 mb-3 ms-8">20 October, 2022</h4>
                    <div class="timeline-basic mb-9">
                        <div class="timeline-item">
                            <div class="row g-3">
                                <div class="col-auto">
                                    <div class="timeline-item-bar position-relative">
                                        <div class="icon-item icon-item-md rounded-7 border"><span
                                                class="bi bi-circle-fill text-warning fs--1"></span></div><span
                                            class="timeline-bar border-end border-dashed border-300"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex mb-2">
                                            <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">To take the ants out</h6>
                                        </div>
                                        <p class="text-500 fs--1 mb-0 text-nowrap timeline-time"><span
                                                class="bi bi-clock-fill me-1"></span>8:32pm</p>
                                    </div>
                                    <h6 class="fs--2 fw-normal mb-3">by <a class="fw-semi-bold" href="#!">Edward Hopper</a></h6>
                                    <p class="fs--1 text-800 w-sm-60 mb-5">Many ants are crawling into my PC and now they live in there
                                        to get highly skilled in web development and programming language that will make them earn
                                        better than the humans so that they’ll be able to buy off all the sugar out of the market.</p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row g-3">
                                <div class="col-auto">
                                    <div class="timeline-item-bar position-relative">
                                        <div class="icon-item icon-item-md rounded-7 border"><span
                                                class="bi bi-circle-fill text-info fs--1"></span></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex mb-2">
                                            <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">Added file</h6>
                                            <h6 class="mb-0 fs--1"><span class="fa-solid fa-file-pdf me-1 text-700"></span><a
                                                    href="#!">Readme.pdf</a></h6>
                                        </div>
                                        <p class="text-500 fs--1 mb-0 text-nowrap timeline-time"><span
                                                class="bi bi-clock-fill me-1"></span>10:33pm</p>
                                    </div>
                                    <h6 class="fs--2 fw-normal false">by <a class="fw-semi-bold" href="#!">John N. Ward</a></h6>
                                    <p class="fs--1 text-800 w-sm-60 mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section JavaScripts {}

@section ScriptTag {}