@model CampaignDetailsModel

@{
    ViewData["Title"] = "Campaign";
}

@section StyleTag{}

@section SidebarWidgets {
    <partial name="Widgets/_JoinUs" />
    <partial name="Widgets/_TeamRequest" />
}

<div class="row">
    <div class="col">
        <div class="card h-100">
            <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
                <h1 class="h4 card-title">@Model.Campaign!.Name</h1>
                
                <a class="btn btn-primary-soft" href="#">
                    <i class="bi bi-compass pe-1"></i> Campaigns
                </a>
                
            </div>
            <div class="card-body">
                <div class="row g-2 mb-4">
                    <div class="col-sm-4">
                        <div class="d-flex border rounded-3">
                            <div class="p-3">
                                <i class="bi bi-heart fs-2"></i>
                                <div class="">
                                    <h5 class="mb-0">@Model.Campaign!.Cause!.Name</h5>
                                    <p class="mb-0">Cause</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="d-flex border rounded-3">
                            <div class="p-3">
                                <i class="bi bi-calendar-check fs-2"></i>
                                <div class="">
                                    <h5 class="mb-0">04/01/2024</h5>
                                    <p class="mb-0">Deadline</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="d-flex border rounded-3">
                            <div class="p-3">
                                <i class="bi bi-arrow-through-heart fs-2"></i>
                                <div class="">
                                    <h5 class="mb-0">$@Model.Campaign!.FundraisingGoal.ToString("0.00")</h5>
                                    <p class="mb-0">Fundraising Goal</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="border rounded-3 mb-3">
                            <div class="p-3">
                                <div class="d-flex align-items-center mb-3">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-story avatar-xxl me-2">
                                        <a href="#!"> <img class="avatar-img rounded-circle" src="~/media/members/@(Model.Creator!.Image)" alt=""> </a>
                                    </div>
                                    <!-- Info -->
                                    <div>
                                        <div class="nav nav-divider">
                                            <h5 class="nav-item mb-0"> <a href="#!"> @Model.Creator!.FullName </a></h5>
                                        </div>
                                        <p class="mb-0 small">Manager</p>
                                    </div>
                                </div> 
                                <p>
                                    @Model.Campaign.Reason
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="accordion mb-3" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                                        Goal
                                    </button>
                                </h2>
                                <div id="collapse-1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <h5>Goal</h5>
                                        <p class="mb-3">@Model.Campaign!.Goal</p>
                                        
                                        <h5>Problem</h5>
                                        <p class="mb-3">@Model.Campaign!.Problem</p>

                                        <h5>Beneficiaries</h5>
                                        <p class="mb-3">@Model.Campaign!.Beneficiaries</p>

                                        <h5>Importance</h5>
                                        <p class="mb-3">@Model.Campaign!.Importance</p>

                                        <h5>Solution</h5>
                                        <p class="mb-3">@Model.Campaign!.Solution</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                        Expenditures
                                    </button>
                                </h2>
                                <div id="collapse-2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-12 p-2">
                                                <div class="border-bottom border-200 gx-0 flex-1 cursor-pointer pb-3">
                                                   <div class="mb-1 mb-md-0 d-flex justify-content-between align-items-center lh-1">
                                                        <input name="IsCompleted" value="true" class="form-check-input my-1 me-2" type="checkbox" />
                                                        <label for="item-1" class="form-check-label mb-1 mb-md-0 mb-xl-1 mb-xxl-0 fs-0 me-2 line-clamp-1 text-900 cursor-pointer">
                                                            <span class="fw-bold">Item 2</span>
                                                            <span class="text-700 fs--2 mb-md-0 me-2 me-md-3 me-xl-2 me-xxl-3 mt-2 mb-0 d-block">Mar 10, 2024 12:22 PM</span>
                                                        </label>
                                                        <button type="button" class="btn ms-auto btn-primary-soft btn-sm">NEEDED</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 p-2">
                                                <div class="border-bottom border-200 gx-0 flex-1 cursor-pointer pb-3">
                                                    <div class="mb-1 mb-md-0 d-flex justify-content-between align-items-center lh-1">
                                                        <input class="form-check-input my-1 me-2" type="checkbox" id="checkbox-todo-1" checked="true" disabled />
                                                        <label class="form-check-label mb-1 mb-md-0 mb-xl-1 mb-xxl-0 fs-0 me-2 line-clamp-1 text-900 cursor-pointer">
                                                            <span class="fw-bold text-decoration-line-through">Item 1</span>
                                                            <span class="text-700 fs--2 mb-md-0 me-2 me-md-3 me-xl-2 me-xxl-3 mt-2 mb-0 d-block">Mar 10, 2024 12:22 PM</span>
                                                        </label>
                                                        <button type="button" class="btn ms-auto btn-primary-soft btn-sm" disabled>AQUIRED</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
                                        Actions
                                    </button>
                                </h2>
                                <div id="collapse-3" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            
                                            @foreach(var item in Model.ActionItems)
                                            {
                                                <div class="col-12 mb-4">
                                                    <div class="p-2 mb-3">
                                                        <div class="border-bottom border-200 pb-3 d-flex justify-content-between align-items-center">
                                                            <div>
                                                                <h5>@item.Label</h5>
                                                                <span class="text-700 fs--2 mb-md-0 me-2 me-md-3 me-xl-2 me-xxl-3 mt-2 mb-0 d-block">Mar 10, 2024 12:22 PM</span>
                                                            </div>
                                                            <div>
                                                                <button type="button" class="btn rounded-3 ms-auto btn-primary@(item.State == ActionItemState.Ongoing ? "" : "-soft") btn-sm">
                                                                    <i class="bi bi-stopwatch"></i>
                                                                </button>
                                                                <button type="button" class="btn rounded-3 ms-auto btn-success@(item.State == ActionItemState.Completed ? "" : "-soft") btn-sm">
                                                                    <i class="bi bi-check-lg"></i>
                                                                </button>
                                                                <button type="button" class="btn rounded-3 ms-auto btn-warning@(item.State == ActionItemState.Postponed ? "" : "-soft") btn-sm">
                                                                    <i class="bi bi-pause-fill"></i>
                                                                </button>
                                                                <button type="button" class="btn rounded-3 ms-auto btn-danger@(item.State == ActionItemState.Canceled ? "" : "-soft") btn-sm">
                                                                    <i class="bi bi-x-lg"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @foreach(var child in item.Children)
                                                    {
                                                        @if (child.State == ActionItemState.Completed)
                                                        {
                                                            <div class="p-2">
                                                                <div class="border-bottom border-200 gx-0 flex-1 cursor-pointer pb-3">
                                                                    <div class="mb-1 mb-md-0 d-flex justify-content-between align-items-center lh-1">
                                                                        <div>
                                                                            <input class="form-check-input my-1 me-2" type="checkbox" checked disabled />
                                                                            <label for="item-1" class="form-check-label mb-1 mb-md-0 mb-xl-1 mb-xxl-0 fs-0 me-2 line-clamp-1 text-900 cursor-pointer">
                                                                                <span class="fw-bold text-decoration-line-through">@item.Label</span>
                                                                                <span class="text-700 fs--2 mb-md-0 me-2 me-md-3 me-xl-2 me-xxl-3 mt-2 mb-0 d-block">Mar 10, 2024 12:22 PM</span>
                                                                            </label>
                                                                        </div>
                                                                        <div>
                                                                            <button type="button" class="btn rounded-3 ms-auto btn-primary-soft btn-sm">
                                                                                <i class="bi bi-stopwatch"></i>
                                                                            </button>
                                                                            <button type="button" class="btn rounded-3 ms-auto btn-success btn-sm">
                                                                                <i class="bi bi-check-lg"></i>
                                                                            </button>
                                                                            <button type="button" class="btn rounded-3 ms-auto btn-warning-soft btn-sm">
                                                                                <i class="bi bi-pause-fill"></i>
                                                                            </button>
                                                                            <button type="button" class="btn rounded-3 ms-auto btn-danger-soft btn-sm">
                                                                                <i class="bi bi-x-lg"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="col-12 p-2">
                                                                <div class="border-bottom border-200 gx-0 flex-1 cursor-pointer pb-3">
                                                                    <div class="mb-1 mb-md-0 d-flex justify-content-between align-items-center lh-1">
                                                                        <div>
                                                                            <input class="form-check-input my-1 me-2" type="checkbox" @(child.State == ActionItemState.Postponed || child.State == ActionItemState.Canceled ? Html.Raw("disabled") : "") />
                                                                            <label for="item-1" class="form-check-label mb-1 mb-md-0 mb-xl-1 mb-xxl-0 fs-0 me-2 line-clamp-1 text-900 cursor-pointer">
                                                                                <span class="fw-bold @(child.State == ActionItemState.Postponed || child.State == ActionItemState.Canceled ? "text-decoration-line-through" : "")">@child.Label</span>
                                                                                <span class="text-700 fs--2 mb-md-0 me-2 me-md-3 me-xl-2 me-xxl-3 mt-2 mb-0 d-block">Mar 10, 2024 12:22 PM</span>
                                                                            </label>
                                                                        </div>
                                                                        <div>
                                                                            <button type="button" class="btn rounded-3 ms-auto btn-primary@(child.State == ActionItemState.Ongoing ? "" : "-soft") btn-sm">
                                                                                <i class="bi bi-stopwatch"></i>
                                                                            </button>
                                                                            <button type="button" class="btn rounded-3 ms-auto btn-success@(child.State == ActionItemState.Completed ? "" : "-soft") btn-sm">
                                                                                <i class="bi bi-check-lg"></i>
                                                                            </button>
                                                                            <button type="button" class="btn rounded-3 ms-auto btn-warning@(child.State == ActionItemState.Postponed ? "" : "-soft") btn-sm">
                                                                                <i class="bi bi-pause-fill"></i>
                                                                            </button>
                                                                            <button type="button" class="btn rounded-3 ms-auto btn-danger@(child.State == ActionItemState.Canceled ? "" : "-soft") btn-sm">
                                                                                <i class="bi bi-x-lg"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div> 
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section JavaScripts {}

@section ScriptTag {}