@model Campaign

@{
    ViewData["Title"] = "Campaign";
}

@section StyleTag{
    <style>
        .timeline-vertical .timeline-item:not(:last-child) .timeline-item-bar .timeline-bar {
            position: absolute;
            height: 100px;
            left: 11px;
            top: 24px;
        }
        .timeline-vertical.timeline-with-details .timeline-item:not(:last-child) .timeline-item-bar .timeline-bar {
            height: calc(100% - 1rem) !important;
        }
        .timeline-basic .timeline-item:hover .timeline-item-bar .icon-item {
            background: var(--phoenix-gray-100) !important;
            border-color: var(--phoenix-gray-300) !important;
        }
        .timeline-basic .timeline-item:hover .timeline-item-title {
            color: var(--phoenix-gray-1100) !important;
        }
        .timeline-basic .timeline-item:hover .timeline-time {
            color: var(--phoenix-gray-1100) !important;
        }
        .timeline-basic .timeline-item:not(:last-child) .timeline-item-bar {
            height: 100%;
        }
        .timeline-basic .timeline-item:not(:last-child) .timeline-item-bar .timeline-bar {
            position: absolute;
            height: calc(100% - 2.5rem);
            left: 20px;
            top: 40px;
        }
        .timeline li {
            position: relative;
            padding-left: 1.5rem;
        }
        .timeline li:after {
            position: absolute;
            content: "";
            height: 0.625rem;
            width: 0.625rem;
            border-radius: 50%;
            background: var(--phoenix-gray-200);
            left: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .timeline li:not(:last-child):before {
            position: absolute;
            content: "";
            height: 100%;
            width: 1px;
            background-color: var(--phoenix-gray-200);
            top: 50%;
            left: 0.3125rem;
        }
        .icon-item.icon-item-md {
            height: 2.5rem;
            width: 2.5rem;
        }
        .icon-item {
            border: none !important;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            
        }
    </style>
}

@section SidebarWidgets {
    <partial name="Widgets/_NewsWidget" />
}

<div class="row">
    <div class="col">
        <div class="card h-100">
            <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
                <h1 class="h4 card-title">Discover Campaigns</h1>
                @if (User.Identity!.IsAuthenticated && User.IsInRole("Member") && User.FindFirst(ClaimTypes.NameIdentifier)!.Value == Model.ManagerId)
                {
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-primary-soft" asp-controller="Members" asp-action="Campaigns" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier)!.Value"> 
                            <i class="bi bi-person-circle pe-1"></i> My Campaigns
                        </a>
                        <a class="btn btn-primary-soft" href="#"> 
                            <i class="bi bi-compass pe-1"></i> All Campaigns
                        </a>
                    </div>
                }
                else
                {
                    <a class="btn btn-primary-soft" href="#"> 
                        <i class="bi bi-compass pe-1"></i> Campaigns
                    </a>
                }
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs nav-bottom-line justify-content-center justify-content-md-start">
                    <li class="nav-item"> 
                        <a class="nav-link active" asp-controller="Campaigns" asp-action="Timeline" asp-route-slug="@Model.Slug"> Timeline </a> 
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link" asp-controller="Campaigns" asp-action="Details" asp-route-slug="@Model.Slug"> Details </a> 
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link" asp-controller="Campaigns" asp-action="Expenditures" asp-route-slug="@Model.Slug"> Expenditures </a> 
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link" asp-controller="Campaigns" asp-action="Milestones" asp-route-slug="@Model.Slug"> Milestones </a> 
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link" asp-controller="Campaigns" asp-action="Opportunities" asp-route-slug="@Model.Slug"> Opportunities </a> 
                    </li>
                    <li class="nav-item"> <a class="nav-link" asp-controller="Campaigns" asp-action="Donations" asp-route-slug="@Model.Slug"> Donations </a> </li>
                </ul>
                <div class="tab-content mb-0 pb-0">
                    <div class="tab-pane fade show active">
                        <div>
                            <h4 class="py-3 border-y border-300 mb-5 ms-8">Today</h4>
                            <div class="timeline-basic mb-9">
                                <div class="timeline-item">
                                    <div class="row g-3">
                                        <div class="col-auto">
                                            <div class="timeline-item-bar position-relative">
                                                <div class="icon-item icon-item-md rounded-7 border">
                                                    <i class="bi bi-circle-fill text-success fs--1"></i>
                                                </div>
                                                <span class="timeline-bar border-end border-dashed border-300"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex mb-2">
                                                    <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">
                                                        Assigned to serve as the <br class='d-sm-none'> project's director
                                                    </h6>
                                                </div>
                                                <p class="text-500 fs--1 mb-0 text-nowrap timeline-time">
                                                    <span class="fbi bi-clock-fill me-1"></span>4:33pm
                                                </p>
                                            </div>
                                            <h6 class="fs--2 fw-normal mb-3">by <a class="fw-semi-bold" href="#!">John N. Ward</a></h6>
                                            <p class="fs--1 text-800 w-sm-60 mb-5">
                                                Utilizing best practices to better leverage our assets, we
                                                must engage in black sky leadership thinking, not the usual band-aid solution.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-item">
                                    <div class="row g-3">
                                        <div class="col-auto">
                                            <div class="timeline-item-bar position-relative">
                                                <div class="icon-item icon-item-md rounded-7 border">
                                                    <span class="bi bi-circle-fill text-danger fs--1"></span>
                                                </div>
                                                <span class="timeline-bar border-end border-dashed border-300"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex mb-2">
                                                    <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">Quary about purchased <br
                                                            class="d-sm-none"> soccer socks</h6>
                                                </div>
                                                <p class="text-500 fs--1 mb-0 text-nowrap timeline-time"><span
                                                        class="bi bi-clock-fill me-1"></span>6:30pm</p>
                                            </div>
                                            <h6 class="fs--2 fw-normal mb-3">by <a class="fw-semi-bold" href="#!">Edward Hopper</a></h6>
                                            <p class="fs--1 text-800 w-sm-60 mb-5">I’ve come across your posts and found some favorable deals on
                                                your page. I’ve added a load of products to the cart and I don’t know the payment options you
                                                avail. Also, can you enlighten me about any discount.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-item">
                                    <div class="row g-3">
                                        <div class="col-auto">
                                            <div class="timeline-item-bar position-relative">
                                                <div class="icon-item icon-item-md rounded-7 border"><span
                                                        class="bi bi-circle-fill text-info fs--1"></span></div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex mb-2">
                                                    <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">Onboarding Meeting</h6>
                                                </div>
                                                <p class="text-500 fs--1 mb-0 text-nowrap timeline-time"><span
                                                        class="bi bi-clock-fill me-1"></span>9:33pm</p>
                                            </div>
                                            <h6 class="fs--2 fw-normal false">by <a class="fw-semi-bold" href="#!">John N. Ward</a></h6>
                                            <p class="fs--1 text-800 w-sm-60 mb-0"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="py-3 border-y border-300 mb-5 ms-8">15 October, 2022</h4>
                            <div class="timeline-basic mb-9">
                                <div class="timeline-item">
                                    <div class="row g-3">
                                        <div class="col-auto">
                                            <div class="timeline-item-bar position-relative">
                                                <div class="icon-item icon-item-md rounded-7 border"><span
                                                        class="bi bi-circle-fill text-primary fs--1"></span></div><span
                                                    class="timeline-bar border-end border-dashed border-300"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex mb-2">
                                                    <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">Designing the dungeon</h6>
                                                </div>
                                                <p class="text-500 fs--1 mb-0 text-nowrap timeline-time"><span
                                                        class="bi bi-clock-fill me-1"></span>1:30pm</p>
                                            </div>
                                            <h6 class="fs--2 fw-normal mb-3">by <a class="fw-semi-bold" href="#!">John N. Ward</a></h6>
                                            <p class="fs--1 text-800 w-sm-60 mb-5">To get off the runway and paradigm shift, we should take
                                                brass tacks with above-the-board actionable analytics, ramp up with viral partnering, not the
                                                usual goat rodeo putting socks on an octopus. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-item">
                                    <div class="row g-3">
                                        <div class="col-auto">
                                            <div class="timeline-item-bar position-relative">
                                                <div class="icon-item icon-item-md rounded-7 border"><span
                                                        class="fa-solid fa-skull-crossbones text-danger fs--1"></span></div><span
                                                    class="timeline-bar border-end border-dashed border-300"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex mb-2">
                                                    <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">How to take the headache <br
                                                            class="d-sm-none"> out of Order</h6>
                                                </div>
                                                <p class="text-500 fs--1 mb-0 text-nowrap timeline-time"><span
                                                        class="fa-regular fa-clock me-1"></span>8:32pm</p>
                                            </div>
                                            <h6 class="fs--2 fw-normal mb-3">by <a class="fw-semi-bold" href="#!">Edward Hopper</a></h6>
                                            <p class="fs--1 text-800 w-sm-60 mb-5">It is a long established fact that a reader will be
                                                distracted by the readable content of a page when looking at its layout. The point of using
                                                Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-item">
                                    <div class="row g-3">
                                        <div class="col-auto">
                                            <div class="timeline-item-bar position-relative">
                                                <div class="icon-item icon-item-md rounded-7 border"><span
                                                        class="fa-solid fa-stethoscope text-primary fs--1"></span></div><span
                                                    class="timeline-bar border-end border-dashed border-300"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex mb-2">
                                                    <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">Mandatory routine checkup</h6>
                                                </div>
                                                <p class="text-500 fs--1 mb-0 text-nowrap timeline-time"><span
                                                        class="fa-regular fa-clock me-1"></span>9:30pm</p>
                                            </div>
                                            <h6 class="fs--2 fw-normal mb-3">by <a class="fw-semi-bold" href="#!">Eye before Thy Hospital</a>
                                            </h6>
                                            <p class="fs--1 text-800 w-sm-60 mb-5">To get the bitter butter out and take the better butter into
                                                the bitter dough to make a bitter bread and broad donut, not the usual yellow butter, but the
                                                white butterless butter.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-item">
                                    <div class="row g-3">
                                        <div class="col-auto">
                                            <div class="timeline-item-bar position-relative">
                                                <div class="icon-item icon-item-md rounded-7 border"><span
                                                        class="fa-solid fa-utensils text-success fs--1"></span></div><span
                                                    class="timeline-bar border-end border-dashed border-300"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex mb-2">
                                                    <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">Making bad butter better</h6>
                                                </div>
                                                <p class="text-500 fs--1 mb-0 text-nowrap timeline-time"><span
                                                        class="fa-regular fa-clock me-1"></span>8:30pm</p>
                                            </div>
                                            <h6 class="fs--2 fw-normal mb-3">by <a class="fw-semi-bold" href="#!">Edward Hopper</a></h6>
                                            <p class="fs--1 text-800 w-sm-60 mb-5">Check how long a fish might live out of water and if you can
                                                check the pulse to see if it's alive or not though it's okay to eat fish cause they don't have
                                                any feelings.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-item">
                                    <div class="row g-3">
                                        <div class="col-auto">
                                            <div class="timeline-item-bar position-relative">
                                                <div class="icon-item icon-item-md rounded-7 border"><span
                                                        class="fa-solid fa-rocket text-info fs--1"></span></div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex mb-2">
                                                    <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">Launching Phoenix</h6>
                                                </div>
                                                <p class="text-500 fs--1 mb-0 text-nowrap timeline-time"><span
                                                        class="fa-regular fa-clock me-1"></span>10:33pm</p>
                                            </div>
                                            <h6 class="fs--2 fw-normal false">by <a class="fw-semi-bold" href="#!">John N. Ward</a></h6>
                                            <p class="fs--1 text-800 w-sm-60 mb-0"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="py-3 border-y border-300 mb-5 ms-8">20 October, 2022</h4>
                            <div class="timeline-basic mb-9">
                                <div class="timeline-item">
                                    <div class="row g-3">
                                        <div class="col-auto">
                                            <div class="timeline-item-bar position-relative">
                                                <div class="icon-item icon-item-md rounded-7 border"><span
                                                        class="bi bi-circle-fill text-warning fs--1"></span></div><span
                                                    class="timeline-bar border-end border-dashed border-300"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex mb-2">
                                                    <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">To take the ants out</h6>
                                                </div>
                                                <p class="text-500 fs--1 mb-0 text-nowrap timeline-time"><span
                                                        class="bi bi-clock-fill me-1"></span>8:32pm</p>
                                            </div>
                                            <h6 class="fs--2 fw-normal mb-3">by <a class="fw-semi-bold" href="#!">Edward Hopper</a></h6>
                                            <p class="fs--1 text-800 w-sm-60 mb-5">Many ants are crawling into my PC and now they live in there
                                                to get highly skilled in web development and programming language that will make them earn
                                                better than the humans so that they’ll be able to buy off all the sugar out of the market.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-item">
                                    <div class="row g-3">
                                        <div class="col-auto">
                                            <div class="timeline-item-bar position-relative">
                                                <div class="icon-item icon-item-md rounded-7 border"><span
                                                        class="bi bi-circle-fill text-info fs--1"></span></div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex mb-2">
                                                    <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">Added file</h6>
                                                    <h6 class="mb-0 fs--1"><span class="fa-solid fa-file-pdf me-1 text-700"></span><a
                                                            href="#!">Readme.pdf</a></h6>
                                                </div>
                                                <p class="text-500 fs--1 mb-0 text-nowrap timeline-time"><span
                                                        class="bi bi-clock-fill me-1"></span>10:33pm</p>
                                            </div>
                                            <h6 class="fs--2 fw-normal false">by <a class="fw-semi-bold" href="#!">John N. Ward</a></h6>
                                            <p class="fs--1 text-800 w-sm-60 mb-0"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section JavaScripts {
}

@section ScriptTag {}