@model ActionItem

@{
    ViewData["Title"] = "Milestone";
}

@section StyleTag{}

@section SidebarWidgets {
    <partial name="Widgets/_NewsWidget" />
}

<div class="row">
    <div class="col">
        <div class="card h-100">
            <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
                <h1 class="h4 card-title">Discover Campaigns</h1>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary-soft" asp-controller="Campaigns" asp-action="Details" asp-route-slug="@Model.Campaign!.Slug"> 
                        <i class="bi bi-heart pe-1"></i> Campaign
                    </a>
                    <a class="btn btn-primary-soft" asp-controller="Campaigns" asp-action="Community" asp-route-slug="@Model.Campaign!.Slug"> 
                        <i class="bi bi-share pe-1"></i> Community
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div>
                            <div class="d-flex justify-content-between">
                                <h2 class="text-black fw-bolder mb-2">@Model.Label</h2>
                                <div class="font-sans-serif btn-reveal-trigger">
                                    <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal"
                                        type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                                        aria-expanded="false" data-bs-reference="parent">
                                        <span class="bi bi-three-dots"></span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end py-2">
                                        <a class="dropdown-item" href="#!">Edit</a>
                                        <a class="dropdown-item text-danger" href="#!">Delete</a>
                                        <a class="dropdown-item" href="#!">Download</a>
                                        <a class="dropdown-item" href="#!">Report abuse</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <form class="d-inline" asp-controller="ActionItems" asp-action="UpdateState" asp-route-id="@Model.Id">
                                    <input type="hidden" name="State" value="@((int)ActionItemState.Ongoing)" />
                                    <button type="submit" class="btn rounded-3 ms-auto btn-primary@(Model.State == ActionItemState.Ongoing ? "" : "-soft") btn-sm">
                                        <i class="bi bi-stopwatch"></i>
                                    </button>
                                </form>
                                <form class="d-inline" asp-controller="ActionItems" asp-action="UpdateState" asp-route-id="@Model.Id">
                                    <input type="hidden" name="State" value="@((int)ActionItemState.Completed)" />
                                    <button type="submit" class="btn rounded-3 ms-auto btn-success@(Model.State == ActionItemState.Completed ? "" : "-soft") btn-sm">
                                        <i class="bi bi-check-lg"></i>
                                    </button>
                                </form>
                                <form class="d-inline" asp-controller="ActionItems" asp-action="UpdateState" asp-route-id="@Model.Id">
                                    <input type="hidden" name="State" value="@((int)ActionItemState.Postponed)" />
                                    <button type="submit" class="btn rounded-3 ms-auto btn-warning@(Model.State == ActionItemState.Postponed ? "" : "-soft") btn-sm">
                                        <i class="bi bi-pause-fill"></i>
                                    </button>
                                </form>
                                <form class="d-inline" asp-controller="ActionItems" asp-action="UpdateState" asp-route-id="@Model.Id">
                                    <input type="hidden" name="State" value="@((int)ActionItemState.Canceled)" />
                                    <button type="submit" class="btn rounded-3 ms-auto btn-danger@(Model.State == ActionItemState.Canceled ? "" : "-soft") btn-sm">
                                        <i class="bi bi-x-lg"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row g-2 mb-4">
                    <div class="col-sm-4">
                        <div class="d-flex border rounded-3">
                            <div class="p-3">
                                <i class="bi bi-heart fs-2"></i>
                                <div class="">
                                    <h5 class="mb-0">@Model.Campaign!.Cause!.Name</h5>
                                    <p class="mb-0">Cause</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="d-flex border rounded-3">
                            <div class="p-3">
                                <i class="bi bi-calendar-check fs-2"></i>
                                <div class="">
                                    <h5 class="mb-0">04/01/2024</h5>
                                    <p class="mb-0">Deadline</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="d-flex border rounded-3">
                            <div class="p-3">
                                <i class="bi bi-arrow-through-heart fs-2"></i>
                                <div class="">
                                    <h5 class="mb-0">$@Model.Campaign!.FundraisingGoal.ToString("0.00")</h5>
                                    <p class="mb-0">Fundraising Goal</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 ">
                        <div class="border rounded-3 mb-3">
                            <div class="p-3">
                                <p class="text-800">
                                    @Model.Details
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card bg-transparent h-100">
                            <div class="card-header pb-0">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div class="">
                                        <h5 class="text-1100">Action items</h5>
                                        <p class="mb-0 text-700">
                                            <a class="fw-bold fs--1 mt-1" href="#!" data-bs-toggle="modal" data-bs-target="#saveActionItemModal">
                                                Add task
                                            </a>
                                        </p>
                                    </div>
                                    <div class="">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="">
                                                <div class="search-box w-100 mb-2 mb-sm-0" style="max-width:30rem;">
                                                    <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                                                        <div class="input-group mb-3">
                                                            <input type="search" class="form-control" placeholder="Search tasks" aria-label="Search" aria-describedby="button-addon2">
                                                            <button class="btn btn-primary-soft" type="button" id="button-addon2">
                                                                <i class="bi bi-search"></i>
                                                            </button>
                                                        </div>
                                                        @* <span class="bi bi-search search-box-icon"></span> *@
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body py-0" style="max-height: 250px; overflow-y: scroll;">
                                <div class="row p-1">
                                    @foreach(var item in Model.Children)
                                    {
                                        @if (item.State == ActionItemState.Completed)
                                        {
                                            <div class="col-12 p-2">
                                                <div class="border-bottom border-200 gx-0 flex-1 cursor-pointer pb-3">
                                                    <div class="mb-1 mb-md-0 d-flex justify-content-between align-items-center lh-1">
                                                        <div>
                                                            <input class="form-check-input my-1 me-2" type="checkbox" checked />
                                                            <label for="item-1" class="form-check-label mb-1 mb-md-0 mb-xl-1 mb-xxl-0 fs-0 me-2 line-clamp-1 text-900 cursor-pointer">
                                                                <span class="fw-bold text-decoration-line-through">@item.Label</span>
                                                                <span class="text-700 fs--2 mb-md-0 me-2 me-md-3 me-xl-2 me-xxl-3 mt-2 mb-0 d-block">Mar 10, 2024 12:22 PM</span>
                                                            </label>
                                                        </div>
                                                        <div>
                                                            <button type="button" class="btn rounded-3 ms-auto btn-primary-soft btn-sm">
                                                                <i class="bi bi-stopwatch"></i>
                                                            </button>
                                                            <button type="button" class="btn rounded-3 ms-auto btn-success btn-sm">
                                                                <i class="bi bi-check-lg"></i>
                                                            </button>
                                                            <button type="button" class="btn rounded-3 ms-auto btn-warning-soft btn-sm">
                                                                <i class="bi bi-pause-fill"></i>
                                                            </button>
                                                            <button type="button" class="btn rounded-3 ms-auto btn-danger-soft btn-sm">
                                                                <i class="bi bi-x-lg"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-12 p-2">
                                                <div class="border-bottom border-200 gx-0 flex-1 cursor-pointer pb-3">
                                                    <div class="mb-1 mb-md-0 d-flex justify-content-between align-items-center lh-1">
                                                        <div>
                                                            <input class="form-check-input my-1 me-2" type="checkbox" @(item.State == ActionItemState.Postponed || item.State == ActionItemState.Canceled ? Html.Raw("disabled") : "") />
                                                            <label for="item-1" class="form-check-label mb-1 mb-md-0 mb-xl-1 mb-xxl-0 fs-0 me-2 line-clamp-1 text-900 cursor-pointer">
                                                                <span class="fw-bold @(item.State == ActionItemState.Postponed || item.State == ActionItemState.Canceled ? "text-decoration-line-through" : "")">@item.Label</span>
                                                                <span class="text-700 fs--2 mb-md-0 me-2 me-md-3 me-xl-2 me-xxl-3 mt-2 mb-0 d-block">Mar 10, 2024 12:22 PM</span>
                                                            </label>
                                                        </div>
                                                        <div>
                                                           <form class="d-inline" asp-controller="ActionItems" asp-action="UpdateState" asp-route-id="@item.Id">
                                                                <input type="hidden" name="State" value="@((int)ActionItemState.Ongoing)" />
                                                                <button type="submit" class="btn rounded-3 ms-auto btn-primary@(item.State == ActionItemState.Ongoing ? "" : "-soft") btn-sm">
                                                                    <i class="bi bi-stopwatch"></i>
                                                                </button>
                                                            </form>
                                                            <form class="d-inline" asp-controller="ActionItems" asp-action="UpdateState" asp-route-id="@item.Id">
                                                                <input type="hidden" name="State" value="@((int)ActionItemState.Completed)" />
                                                                <button type="submit" class="btn rounded-3 ms-auto btn-success@(item.State == ActionItemState.Completed ? "" : "-soft") btn-sm">
                                                                    <i class="bi bi-check-lg"></i>
                                                                </button>
                                                            </form>
                                                            <form class="d-inline" asp-controller="ActionItems" asp-action="UpdateState" asp-route-id="@item.Id">
                                                                <input type="hidden" name="State" value="@((int)ActionItemState.Postponed)" />
                                                                <button type="submit" class="btn rounded-3 ms-auto btn-warning@(item.State == ActionItemState.Postponed ? "" : "-soft") btn-sm">
                                                                    <i class="bi bi-pause-fill"></i>
                                                                </button>
                                                            </form>
                                                            <form class="d-inline" asp-controller="ActionItems" asp-action="UpdateState" asp-route-id="@item.Id">
                                                                <input type="hidden" name="State" value="@((int)ActionItemState.Canceled)" />
                                                                <button type="submit" class="btn rounded-3 ms-auto btn-danger@(item.State == ActionItemState.Canceled ? "" : "-soft") btn-sm">
                                                                    <i class="bi bi-x-lg"></i>
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }         
                                    }
                                    
                                </div>
                            </div>
                            <div class="card-footer py-4">
                                <p class="mb-0 text-700">Task list</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("SaveActionItem", new { parentId = Model.Id, campaignId = Model.CampaignId })

@section JavaScripts {}

@section ScriptTag {}