@model Opportunity

@{
    ViewData["Title"] = "Opportunity";
}

@section StyleTag{
    <style>
        .table > :not(caption) > * > * {
            background-color: transparent !important;
        }
        .table-borderless > tbody > tr > td,
        .table-borderless > tbody > tr > th,
        .table-borderless > tfoot > tr > td,
        .table-borderless > tfoot > tr > th,
        .table-borderless > thead > tr > td,
        .table-borderless > thead > tr > th {
            border: none;
        }
    </style>
}

@section SidebarWidgets {
    <partial name="Widgets/_NewsWidget" />
}

<div class="row">
    <div class="col">
        <div class="card h-100">
            <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
                <h1 class="h4 card-title">Discover Campaigns</h1>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary-soft" asp-controller="Members" asp-action="Campaigns" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier)!.Value"> 
                        <i class="bi bi-person-circle pe-1"></i> My Campaigns
                    </a>
                    <a class="btn btn-primary-soft" href="#"> 
                        <i class="bi bi-compass pe-1"></i> All Campaigns
                    </a>
                </div>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs nav-bottom-line justify-content-center justify-content-md-start">
                    <li class="nav-item"> 
                        <a class="nav-link active" asp-controller="Opportunities" asp-action="Info" asp-route-id="@Model.Id"> Opportunity </a> 
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link" asp-controller="Opportunities" asp-action="Applicants" asp-route-id="@Model.Id"> Applicants </a>
                    </li>
                </ul>
                <div class="tab-content mb-0 pb-0">
                    <div class="tab-pane fade show active">
                        <div class="row g-4">
                            <div class="col-12 col-xl-7">
                                <h1>@Model.Title</h1>
                                <p>@Model.Details</p>
                            </div>
                            <div class="col-12 col-xl-5">
                                <div class="row gx-0 gx-sm-7">
                                    <div class="col-12 mb-3">
                                        <table class="lh-sm table justify-content-center table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td class="align-top py-1 text-900 text-nowrap fw-bold text-start">Applicants : </td>
                                                    <td class="text-600 ps-3 text-end">@Model.Applicants.Count()</td>
                                                </tr>
                                                <tr>
                                                    <td class="align-top py-1 text-900 text-nowrap fw-bold text-start">People needed : </td>
                                                    <td class="text-600 ps-3 text-end">2</td>
                                                </tr>
                                                <tr>
                                                    <td class="align-top py-1 text-900 text-nowrap fw-bold text-start">Positions filled :</td>
                                                    <td class="text-600 ps-3 text-end">0</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <a asp-controller="Opportunities" asp-action="Apply" asp-route-id="@Model.Id" class="btn btn-primary-soft w-100">Apply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section JavaScripts {
   <!-- <script src="~/lib/echarts/echarts.min.js"></script> -->
}

@section ScriptTag {}