@model ApplicationUser

@{
    ViewData["Title"] = "Values";
    List<Value> values = ViewBag.Values;
}

@section StyleTag{}

@section SidebarWidgets {
    <partial name="Widgets/_NewsWidget" />
}

<div class="row">
    <div class="col">
        <div class="card h-100">
            <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
                <h1 class="h4 card-title">Discover Campaigns</h1>
                <a class="btn btn-primary-soft" href="#"> 
                    <i class="bi bi-question-lg pe-1"></i> Not Sure
                </a>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs nav-bottom-line justify-content-center justify-content-md-start">
                    <li class="nav-item"> 
                        <a class="nav-link" asp-controller="Profile" asp-action="Basic" asp-route-id="@Model.Id"> Basic </a> 
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link active" asp-controller="Profile" asp-action="Values" asp-route-id="@Model.Id"> Values </a> 
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link" asp-controller="Profile" asp-action="Dating" asp-route-id="@Model.Id"> Dating </a> 
                    </li>
                </ul>
                <div class="tab-content mb-0 pb-0">
                    <div class="tab-pane fade show active">
                        <h3 class="h4 mb-4">Select your values.</h3>
                        <form class="row g-3" asp-controller="Values" asp-action="Add">
                            <div class="col-12">
                                <div class="mb-3">
                                    @foreach (var value in values)
                                    {
                                        
                                        <div class="form-check mb-3">
                                            @if (Model.Values.Select(v => v.ValueId).Contains(value.Id))
                                            {
                                                <input 
                                                    class="form-check-input" 
                                                    type="checkbox" 
                                                    value="@value.Id"
                                                    id="value-@value.Id"
                                                    name="Values"
                                                    checked  />
                                            }
                                            else
                                            {
                                                <input 
                                                    class="form-check-input" 
                                                    type="checkbox" 
                                                    value="@value.Id"
                                                    id="value-@value.Id"
                                                    name="Values"  />
                                            }
                                            
                                            
                                            <label class="form-check-label" for="value-@value.Id">
                                                <span class="fw-bold">@value.Name</span> - @value.Description
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-12 my-3">
                                <button type="submit" class="btn btn-primary-soft w-100">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section JavaScripts {
}

@section ScriptTag {}