@model Cause

@{
    ViewData["Title"] = "Cause";
    List<Cause> causes = ViewBag.Causes;
}

@section SidebarWidgets {
    <partial name="Widgets/_NewsWidget" />
}

<div class="row">
    <div class="col-12 my-2">
        <h1 class="h3 text-uppercase fw-light">@Model.Name</h1>
    </div>
</div>

<div class="row g-3">
    <div class="col-4">
        <form asp-controller="Campaigns" asp-action="Search" method="POST">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="SearchString" />
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary-soft w-100">Filter</button>
            </div>
        </form>

        <div class="card mb-3">
            <div class="card-header border-0 pb-0">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <h4 class="text-uppercase fw-light mb-0"> Subcauses</h4>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2" id="cardFeedAction1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </a>
                        <!-- Card feed action dropdown menu -->
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardFeedAction1">
                            <li><a class="dropdown-item" href="#"> <i class="bi bi-info-circle fa-fw pe-2"></i>About</a></li>
                            <li><a class="dropdown-item" href="#"> <i class="bi bi-inbox fa-fw pe-2"></i>Contact</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"> <i class="bi bi-question-circle fa-fw pe-2"></i>FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                @foreach(var subcause in Model.Children)
                {
                    <li>
                        <a asp-controller="Causes" asp-action="Campaigns" asp-route-slug="@subcause.Slug">
                            @subcause.Name
                        </a>
                    </li>
                }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="dropdown mb-3">
            <button class="text-secondary btn bg-white dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Select Cause <i class="bi bi-chevron-down"></i>
            </button>
            <ul class="dropdown-menu w-100">
                @foreach(var c in causes)
                {
                    <li>
                        <a class="dropdown-item" asp-controller="Causes" asp-action="Campaigns" asp-route-slug="@c.Slug">
                            @c.Name
                        </a>
                    </li>
                }
            </ul>
        </div>

        @await Component.InvokeAsync("CampaignList", new { cause = Model })
    </div>
</div>

@section JavaScripts {
}

@section ScriptTag {
}